.seleccionardo{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.catexto{
    width: 75px;
}
.table{
 background-color: #F2F2F2;   
}
table th{
    color: white;
}
.encabezado{
    background: blue;
}
table input {
    width: 100%;
    border:  none;
    background: transparent;
    border-bottom: 1px solid black;

    
}


#horario{
    margin-bottom: 10px;
    
}

#tablaAsesoria{
    background-color: gray;
    margin-left: 0px;
}
#titulo_tabla{
    color: black;
}
