@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
p{
	color: lightblue;
}
.barra #inicio {
    border: 1px solid gray;
    background: blue;
    color:white;
}
.barra a{
    border: 1px solid gray;
    background: lavender;
}
.barra a:hover{
background:blue;
color:white;
}
a,
a:hover,
a:focus{
	text-decoration: none;
	transition: all 0.3s;
}
.navbar{
	padding: 15px 10px;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
